
<header>
<nav class="navigation" >
            
    <div class="logo"> <h3>
      <i class="fas fa-dumbbell"></i> FlexiForme</h3> </div>
    <div class="menu">
       
        <a href="#" style="font-size:20px"><i class="fa fa-home"></i>HOME</a>
        <a href="reservation.php" >Services</a>
     
        <a href="contact.php" >contact</a>
     
    </div> 
  <form class="search-form" action="#" method="get">
    <input type="text" name="search" placeholder="Search...">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form></nav>
  <main >
    <section >
      

      <div id="m1">
        <img src="assets/R.jpg" alt="">
       
        <p># Training #since 2020</p>

      </div>
      <div id="m"><a href="commentaires.htm" class="btnone">learn more</a>
      <a href="home.html" class="btntwo">signup here</a></div>
        <h3>Welcome To FlexiForme </h3>
        <p id="k">"Ensemble repoussons nos limites physiques et <br> mentales dans la bonne humeur"</p>
        
    </section>
</main></header>



<div class="card-container">
  <div class="card1">
      <h2>Hôpital XYZ</h2>
      <hr id="f">
      <p>Adresse : 123, Rue de l'Hôpital</p>
      <hr id="f">
      <p>Téléphone : 0123 456 789</p>
      <hr id="f">
      <p>Services : Urgences, Consultations, Chirurgie</p>
  </div>
  <div class="card2">
    <h2>Hôpital XYZ</h2>
    <hr id="f">
    <p>Adresse : 123, Rue de l'Hôpital</p>
    <hr id="f">
    <p>Téléphone : 0123 456 789</p>
    <hr id="f">
    <p>Services : Urgences, Consultations, Chirurgie</p>
</div>

  <div class="card1">
      <h2>Horaires d'ouverture</h2>
      <hr id="f">
      <p>Lundi - Vendredi : 8h00 - 18h00</p>
      <hr id="f">
      <p>Samedi : 9h00 - 14h00</p>
      <hr id="f">
      <p>Dimanche : Fermé</p>
  </div>

  <div class="card2">
     
      <h2>Informations supplémentaires</h2>
      <p>Ce centre médical est dédié à fournir des soins de qualité à la communauté locale. Nous sommes là pour vous.</p>
     <br><br>   </div>
