

  <section class='newletter'>
    <div class='container flexSB'>
      <div class='left row'>
        <h1>sign up to get the latest  <br>catch sent to your inbox !</h1>
        <span> Stay tune and get the latest update</span><i class='fa fa-arrow-right'></i> <p>S'inscrire maintenant</p>
      </div>
      <div class='right row'>
        <input type='text' placeholder='Enter email address'/> <a href="commentaires.htm" class="btnone1">S'inscrire </a>

      </div> 
    </div>
  </section>
 
<footer>
    <br>
    <div class='container padding'>
      <div class='box logo'>
        <h1> <i class="fas fa-dumbbell"></i> FlexiForme</h1>
        <span>Fitness  <i class="fas fa-running icon"></i></span>
       <p>Ce centre médical est dédié à fournir des soins de qualité à la communauté locale. Nous sommes là pour vous.</p>
        <p>contacter-nous via</p>
<div class="social">
        <i class='fab fa-facebook-f icon'></i>
        <i class='fab fa-twitter icon'></i>
        <i class='fab fa-instagram icon'></i>
        <i class='fab fa-tiktok icon'></i>
        <i class='fab fa-youtube icon'></i><br><br><br>
        
      </div><a href="commentaires.htm" class="btnone">book more</a></div>
      <div class='box last'>
        <h3 id="k">Avez-vous un question?</h3>
     
        <ul>
        
          <li>
            <i class='fa fa-phone-alt'></i>&rarr;
           55759343
          </li>
          <li>
          <i class="fa fa-envelope"></i>&rarr;
          contact.medical&#64;gmail.com
          </li>
          <li>
            <i class='fa fa-map'></i>&rarr;
          newyork
          </li>
        </ul><a href="commentaires.htm" class="btnone">learn more</a>
      </div>
      <div class='box link'>
        <h3 id="k">Des liens rapides</h3>
   
        <ul>
          <li> Contacter-nous</li>
          <li> Prix</li>
          <li> Termes et Conditions</li>
          <li> Services</li>
          <li> Feedbacks</li>
        </ul>   <a href="commentaires.htm" class="btnone">learn more</a>
      </div>
   
      <iframe
      id="map"
       src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12735.422803054294!2d10.196429734534893!3d36.80649648615945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e0bf4dbd546361%3A0x397e1cc376f61c12!2sTunis%2C%20Tunisie!5e0!3m2!1sen!2sus!4v1647705477088!5m2!1sen!2sus"
      frameborder="0"
      style="border:0"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    ></iframe>
    </div>
   
  </footer>
  <div class='legal'>
    <p>
      Copyright ©2023 tous les droits sont reservés | FAQs | Policies | Cariers           <span id="s"></span>                         website made by dorra     <span id="s1"></span>         +
    </p>

  </div>
  
