
<section id="n">
  <h1>Nos coaches sont là pour vous</h1>
  <div class="values-container">
  
    <div class="value">
      <div class="icon">
        <i class='fa fa-quote-left icon'></i>
        <img src="assets/k6.jpg" alt="Écoute">
      </div>
      <h3>Benjamin Lee</h3>
    </div>
    
    <div class="value">
      <div class="icon">
        <i class='fa fa-quote-left icon'></i>
        <img src="assets/k5.jpg" alt="Conseil">
      </div>
      <h3>Grace Harris</h3>
    </div>
    
    <div class="value">
      <div class="icon">
        <i class='fa fa-quote-left icon'></i>
        <img src="assets/k4.jpg" alt="Créativité">
      </div>
      <h3>Alexander White</h3>
    </div>
    
    <div class="value">
      <div class="icon">
        <i class='fa fa-quote-left icon'></i>
        <img src="assets/k7.jpg" alt="Satisfaction Client">
      </div>
      <h3>Ethan Jackson</h3>
    </div>
    
  </div>
</section>
