<section id="n">
    <h2 >Notre concepte </h2> <hr id="g">
    <p id="m">Lorem ipsum dolor sit amet consectetur, <br> adipisicing elit. Hic expedita optio vitae, <br> inventore enim tenetur nostrum, asperiores ab <br>quaerat sequi incidunt reiciendis minima. <br> Recusandae culpa quia rerum consequuntur. <br> Eaque, voluptate.</p>
   
       <div class="values-container">
       
       <div class="value"  >
       
         <div class="icon">
          
          <h1>1</h1>
         </div>
     
       </div>    <p>La satisfaction de nos clients est notre priorité, et nous nous efforçons de dépasser leurs attentes.</p>
        
       <div class="value">
         <div class="icon">
         <h1>2</h1>
         
         </div> 
         
       </div><p>La satisfaction de nos clients est notre priorité, et nous nous efforçons de dépasser leurs attentes.</p>
       <div class="value">
         <div class="icon">
          
             <h1>3</h1> 
         </div>
        
       </div> <p>La satisfaction de nos clients est notre priorité, et nous nous efforçons de dépasser leurs attentes.</p>
       
       <div class="value">
         <div class="icon">
         <h1>4</h1>
         
         </div>
      
       </div>   <p >La satisfaction de nos clients est notre priorité, et nous nous efforçons de dépasser leurs attentes.</p>
        
       </div>
       <a href="commentaires.htm" class="btnone">learn more &rarr;</a>
     </section>