/* You can add global styles to this file, and also import other style files */
*{
    background-color: transparent;
}@import '~@fortawesome/fontawesome-free/css/all.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.black-snackbar{
    background: black !important;
    color: wheat !important;
}
.green-snackbar{
    background: green !important;
    color: wheat !important;
}