<form action="/envoyer-email" method="POST">
            
    <!-- ... Reste du formulaire ... -->
    <div class="input-container">
        <input type="text" name="nom" class="input" placeholder="Nom et prénom">
        <label for="">Nom et prénom</label>
      </div>
      <div class="input-container">
        <label for="">Email</label>
        <input type="email" name="email" class="input" placeholder="Email">
      </div>
     
      
      <input type="submit" value="login" class="btn">
  </form>